@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Jost', sans-serif;
}

.outlet {
    overflow: auto; /* Enable scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.outlet::-webkit-scrollbar {
    display: none;
  }
  